
*, ::after, ::before
  box-sizing: border-box

html
  font-size: 62.5%
  scroll-behavior: smooth
  @include respond(tab-land)
    font-size: 50%
  @include respond(tab-port)
    font-size: 36%
  @include respond(phone)
    font-size: 25%
  @include respond(big-screen)
    font-size: 75%
  @include respond(very-big-screen)
    


body
  font-family: Roboto, serif
  font-weight: 400
  color: $color-gray
  font-size: $font-size-paragraph
  letter-spacing: .2rem
  background-color: white
  padding: 5rem

.container
  background: $color-background
  width: 100%
  position: relative
  background-color: #F7F7F7
  position: relative
  z-index: 0  