.book
    height: 50rem
    background: linear-gradient(110deg, rgba(255,255,255,0.9), rgba(255,255,255,0.9) 55%, rgba(195,149,106,0) 55.1%, rgba(195,149,106,0)), url('../img/bg-form.jpg') no-repeat top center / cover
    box-shadow: $box-shadow
    border-radius: .5rem
    overflow: hidden
    padding: 5rem
    @include respond(phone)
        background: url('../img/bg-form.jpg') no-repeat top center / cover
        padding: 5rem 0 5rem 3rem
.form
    &__group:not(:last-child)
        margin-bottom: 2rem
    &__group2
        margin-bottom: 4rem
    &__input
        font-weight: 400
        letter-spacing: 2px
        font-size: $font-size-paragraph
        color: $color-black
        padding: 1.8rem 0 1.8rem 2.2rem
        background: white
        border: none
        border-bottom: .3rem solid transparent
        border-radius: .3rem
        width: 35.5rem
        @include respond(phone)
            font-size: 3rem
            width: 42rem
        &:focus
            outline: none
            border-bottom: .3rem solid #66D763
            @include respond(phone)
                border-bottom: .6rem solid #66D763
        &:focus:invalid
            border-bottom: .3rem solid #D76363
            @include respond(phone)
                border-bottom: .6rem solid #D76363
        
    &__label
        font-size: $font-size-paragraph
        letter-spacing: .2rem   
        font-weight: 400
        display: block
        margin-top: 1rem
        margin-left: 1.6rem
        transition: .4s all
    &__input:placeholder-shown + &__label
        opacity: 0
        visibility: hidden        
        transform: translateY(-3rem)

    &__group-radio
        width: 26%
        display: inline-block

    &__input-radio
        display: none

    &__label-radio
        cursor: pointer
        position: relative
        padding-left: 4rem
    &__button-radio
        height: 3rem
        width: 3rem
        border-radius: 50%
        border: .5rem solid $color-orange
        display: block
        position: absolute
        left: 0
        top: -.45rem
        &::after
            content: ""
            display: block 
            height: 1.5rem
            width: 1.5rem
            border-radius: 50%
            background: linear-gradient(140deg, #C3956A 3.65%, #A24F03 100%)
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            opacity: 0
            transition: .1s all
    &__input-radio:checked ~ &__label-radio &__button-radio::after
        opacity: 1

.row-killer-ficha
    margin-bottom: 0 !important
    @include respond(phone)
        display: none

.book-two
    display: none
    height: auto
    @include respond(phone)
        display: block

.form
    &__group-radio2
        width: auto
        display: flex
        flex-direction: column
        &:not(:last-child)
            margin-bottom: 4rem

    &__input-radio2
        display: none

    &__label-radio2
        cursor: pointer
        position: relative
        padding: 0.5rem 0 0 6rem
        color: white
        font-size: 3rem
    &__button-radio2
        height: 5rem
        width: 5rem
        border-radius: 50%
        border: .5rem solid white
        display: block
        position: absolute
        left: 0
        top: -.45rem
        &::after
            content: ""
            display: block 
            height: 2.5rem
            width: 2.5rem
            border-radius: 50%
            background: white
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            opacity: 0
            transition: .1s all
    &__input-radio2:checked ~ &__label-radio2 &__button-radio2::after
        opacity: 1