.card-tour
    height: 52rem
    perspective: 150rem
    -moz-perspective: 150rem
    position: relative
    margin-bottom: 1rem
    @include respond(tab-port)
        height: auto
    @include respond(phone)
        margin-bottom: 5rem
    &__side
        height: 52rem
        transition: .7s all ease-out 
        color: white
        position: absolute
        top: 0
        left: 0
        width: 100%
        backface-visibility: hidden
        @include respond(tab-port)
            height: auto
            position: relative
        &_front
            background: white
            box-shadow: $box-shadow
            border-radius: 3px
            @include respond(tab-port)
            padding-bottom: 8rem
        &_back
            background: linear-gradient(120deg, rgba(195, 149, 106, 1) 0.03%, rgba(161, 79, 3, 1) 99.94%)
            transform: rotateY(180deg)
            box-shadow: $box-shadow
            border-radius: 3px
            @include respond(tab-port)
                transform: rotateY(0deg)
                clip-path: polygon(0 0, 100% 15%, 100% 99%, 0 100%)
                margin-top: -7rem
    &:hover &__side_front
        transform: rotateY(-180deg)
        @include respond(tab-port)
                transform: rotateY(0deg)
    &:hover &__side_back
        transform: rotateY(0deg)

    &__img
        background-blend-mode: hard-light
        height: 24.5rem
        background: #BA8554 url("../img/card-1.jpg") center / cover no-repeat
        clip-path: polygon(0 0, 100% 0, 100% 99%, 0 79%)
        margin-bottom: 4.5rem
        border-radius: 3px
        @include respond(phone)
            height: 35.5rem
            margin-bottom: 8rem
    &__img2
        background-blend-mode: hard-light
        height: 24.5rem
        background: #BA8554 url("../img/card-2.jpg") center / cover no-repeat
        clip-path: polygon(0 0, 100% 0, 100% 99%, 0 79%)
        margin-bottom: 4.5rem
        border-radius: 3px
        @include respond(phone)
            height: 35.5rem
            margin-bottom: 8rem
    &__img3
        background-blend-mode: hard-light
        height: 24.5rem
        background: #BA8554 url("../img/card-3.jpg") center / cover no-repeat
        clip-path: polygon(0 0, 100% 0, 100% 99%, 0 79%)
        margin-bottom: 4.5rem
        border-radius: 3px
        @include respond(phone)
            height: 35.5rem
            margin-bottom: 8rem
    &__title
        font-size: 2.8rem
        letter-spacing: .2rem
        font-weight: 300
        text-transform: uppercase
        text-align: right
        position: absolute
        top: 18rem
        right: 0rem
        @include respond(tab-port)
            top: 20rem
        @include respond(phone)
            top: 31rem
            font-size: 4rem
    &__span
        background: linear-gradient(90deg, $color-brown, $color-orange 99.94%)
        padding: .8rem 1.5rem
        &_1
        &_2
            position: absolute
            top: 3.4rem
            right: 0 
            @include respond(tab-port)
                position: relative
                top: 1.8rem
            @include respond(phone)
                top: 2rem

    &__descr
        ul
            list-style: none
            margin: 0
            text-align: center
            padding: 0 1rem 0 1rem
            @include respond(phone)
                font-size: 3rem
            li
                font-size: $font-size-paragraph
                letter-spacing: .2rem
                color: $color-gray
                border-bottom: 1px solid $color-gray
                display: inline-block
                width: auto 
                &:not(:last-child)
                    margin-bottom: 2rem
                @include respond(tab-port)
                    font-size: 2.4rem

    &__bacSide-box
        padding-top: 10rem
        text-align: center
        @include respond(tab-port)
            padding-top: 7.5rem
            padding-bottom: 5rem

    &__text-1
        font-size: 1.6rem
        font-weight: 200
        margin-bottom: 9rem
        @include respond(tab-port)
            font-size: 2rem
            font-weight: 400
            margin-bottom: 4rem

    &__text-2
        font-size: 6rem
        margin-bottom: 9rem
        @include respond(tab-port)
            margin-bottom: 0
                 
